# .htaccess is used to override server behavior without editing global config
# use cases are:
#   block or allow access to folders
#   force MIME types
#   rewrite URLs (/purchase-history → index.html for React SPAs).

RewriteEngine On
RewriteBase /CSE442/2025-Fall/cse-442j/
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
RewriteCond %{REQUEST_URI} ^/CSE442/2025-Fall/cse-442j/api/ [NC]
RewriteRule ^ - [L]
RewriteRule . /CSE442/2025-Fall/cse-442j/index.html [L]